.container-settings {
  align-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  padding: 10px 20px;
  width: 614px;
}
